<li class="product-item">
    {% assign productpath = 'assets/img/products/' | append: include.name | append: '/' %}
    {% assign images = '' %}

    {% for image in site.static_files %}
        {% if image.path contains productpath %}
            {% unless image.path contains 'thumb' %}
                {% if images != '' %}
                {% assign images = images | append: '|' %}
                {% endif %}
                {% assign images = images | append: image.path %}
            {% endunless %}
        {% endif %}
    {% endfor %}

    {% assign images = images | remove: productpath | split: '|' %}
    <div class="row">
        {% if images.size > 0 %}
        <div class="col-md-9">
        {% else %}
        <div class="col-md-12">
        {% endif %}
            <div class="product-item-description">
                {% capture description %}{% include products/{{ include.name }}.md %}{% endcapture %}
                {{ description | markdownify }}
            </div>
        </div>
        {% if images.size > 0 %}
        <div class="col-md-3">
            <div class="product-item-images">
                {% for image in images %}
                <a href="{{ productpath }}{{ image | slice: 1, image.size }}" data-lightbox="{{ include.name }}" data-title="">
                    <img src="{{ productpath }}thumb/{{ image | slice: 1, image.size }}" alt="" />
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</li>
