// Core variables and mixins
@import "font.less";
@import "variables.less";
@import "../lib/bootstrap/less/mixins.less";

// Reset and dependencies
@import "../lib/bootstrap/less/normalize.less";
@import "../lib/bootstrap/less/print.less";
@import "../lib/bootstrap/less/glyphicons.less";

// Core CSS
@import "../lib/bootstrap/less/scaffolding.less";
@import "../lib/bootstrap/less/type.less";
@import "../lib/bootstrap/less/code.less";
@import "../lib/bootstrap/less/grid.less";
@import "../lib/bootstrap/less/tables.less";
@import "../lib/bootstrap/less/forms.less";
@import "../lib/bootstrap/less/buttons.less";

// Components
@import "../lib/bootstrap/less/component-animations.less";
@import "../lib/bootstrap/less/dropdowns.less";
@import "../lib/bootstrap/less/button-groups.less";
@import "../lib/bootstrap/less/input-groups.less";
@import "../lib/bootstrap/less/navs.less";
@import "../lib/bootstrap/less/navbar.less";
@import "../lib/bootstrap/less/breadcrumbs.less";
@import "../lib/bootstrap/less/pagination.less";
@import "../lib/bootstrap/less/pager.less";
@import "../lib/bootstrap/less/labels.less";
@import "../lib/bootstrap/less/badges.less";
@import "../lib/bootstrap/less/jumbotron.less";
@import "../lib/bootstrap/less/thumbnails.less";
@import "../lib/bootstrap/less/alerts.less";
@import "../lib/bootstrap/less/progress-bars.less";
@import "../lib/bootstrap/less/media.less";
@import "../lib/bootstrap/less/list-group.less";
@import "../lib/bootstrap/less/panels.less";
@import "../lib/bootstrap/less/responsive-embed.less";
@import "../lib/bootstrap/less/wells.less";
@import "../lib/bootstrap/less/close.less";

// Components w/ JavaScript
@import "../lib/bootstrap/less/modals.less";
@import "../lib/bootstrap/less/tooltip.less";
@import "../lib/bootstrap/less/popovers.less";
@import "../lib/bootstrap/less/carousel.less";

// Utility classes
@import "../lib/bootstrap/less/utilities.less";
@import "../lib/bootstrap/less/responsive-utilities.less";



html {
    min-height: 100%;
    height: 100%;
}

body {
    height: 100%;

    &.loading {
        position: relative;

        * {
            display: none;
        }

        .loader {
            position: absolute;
            display: block;
            top: 40%;
            left: 50%;
            margin-top: -64px;
            margin-left: -64px;
            width: 128px;
            height: 128px;
            background: url('../img/loading.gif') no-repeat;
        }
    }
}

.navbar-brand img {
    margin-top: -8px;
    vertical-align: middle;
}

.navbar-brand span {
    position: relative;
    top: -1px;
    margin: 0 0 0 4px;
}

.container {
    &.auto {
        width: auto;
    }
}

.anchor {
    display: block;
    position: relative;
    top: -@navbar-height;
    visibility: hidden;
}

.start {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 480px;

    background-image: url('../img/start-picture.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-attachment: fixed;

    @media screen and (max-width: @screen-xs-max) {
        background-image: none;
        background-attachment: scroll;
        #gradient.vertical(#00b; #003);
    }

    .wrapper {
        position: absolute;
        top: @navbar-height;
        bottom: 0;
        left: 0;
        right: 0;

        .content {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            padding: 0 30px;
            color: #fff;
            text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.75);
            .text-center;

            &.top {
                top: 5%;
            }

            &.middle {
                top: 40%;
            }

            @media screen and (max-width: @screen-xs-max) {
                h1 {
                    font-size: @font-size-h1 * 0.7;
                }

                h2 {
                    font-size: @font-size-h2 * 0.7;
                }

                h3 {
                    font-size: @font-size-h3 * 0.7;
                }

                h4 {
                    font-size: @font-size-h4 * 0.7;
                }

                h5 {
                    font-size: @font-size-h5 * 0.7;
                }

                h6 {
                    font-size: @font-size-h6 * 0.7;
                }

                font-size: 70%;
            }
        }

        @media screen and (max-width: @screen-xs-max) {
            .content {
                padding: 0 20px;
            }
        }
    }
}

.services {
    .text-center;
    margin: 30px 0 50px;

    .general {
        margin: 0 0 30px;
    }
}

.maps-online {
    .carousel-caption {
        visibility: hidden;
    }

    .carousel-control {
        z-index: 20;
    }

    .carousel-caption-global {
        visibility: hidden;
        position: absolute;
        z-index: 14;
        top: 30px;
        left: 0;
        right: 0;
        padding: 0 15%;

        .content {
            max-width: 600px;
            margin: 0 auto;
            text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.75);
            color: #fff;
            text-align: center;
        }
    }

    @media screen and (max-width: @screen-sm-max) {
        .carousel-caption-global {
            font-size: 80%;
        }
    }

    @media screen and (min-width: @screen-xs-min) {
        .carousel-caption {
            padding-bottom: 50px;
            visibility: visible;
        }

        .carousel-caption-global {
            visibility: visible;
        }
    }
}

.company {
    .text-center;
    margin: 30px 0 50px;

    .general {
        margin: 0 0 30px;
    }
}

.contacts {
    .text-center;
    padding: 0px 0 50px;

    position: relative;
    width: 100%;
    overflow: hidden;

    .info {
        p {
            margin-bottom: 5px;
        }
    }

    .feedback-form {
        margin: 50px 0 0;
        max-width: 600px;
        margin: 30px auto 0;
        .form-horizontal;

        .form-group.required .control-label:after {
            margin: 0 0 0 6px;
            content: "*";
            color: #d00;
        }

        .form-submit-error {
            margin: 20px 0;
            text-shadow: none;
        }

        .form-error {
            text-align: left;
            color: #d00;
            font-size: 85%;
        }

        [name="message"] {
            resize: vertical;
            height: 140px;
            max-height: 264px;
        }

        .buttons {
            text-align: right;
        }
    }

    .form-submit-success {
        margin: 50px auto 0;
        max-width: 600px;
        text-shadow: none;
    }

    h1, h2, h3, h4, h5, h6, p, label {
        color: @text-color;
    }

    @media screen and (min-width: @screen-sm-min) {
        background-image: url('../img/contacts-bg.jpg');
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-attachment: fixed;

        padding: 30px 0 70px;

        text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.75);

        a {
            color: #eecc22;
        }

        .feedback-form {
            .form-group.required .control-label:after {
                color: #eecc22;
            }

            .form-error {
                color: #eecc22;
            }
        }

        h1, h2, h3, h4, h5, h6, p, label {
            color: #fff;
        }
    }
}

#footer {
    .text-center;

    @media screen and (min-width: @screen-sm-min) {
        margin: 50px 0 0;
    }

    .references {
        margin: 0 0 40px;
    }
}