<!DOCTYPE html>
<html>
<head lang="ru">
    <title>КИТГЕО - геоинформационные консалтинг и технологии</title>
    <meta charset="utf-8" />
    <meta name="description" content="Геоинформационные консалтинг и технологии" />
    <meta name="keywords" content="kitgeo,китгео,gis,geo,map,maps,гис,гео,карты,картография,навигация" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% if page.css %}
    {% for cssfile in page.css %}
    <link rel="stylesheet" type="text/css" href="assets/css/{{ cssfile }}.css" />
    {% endfor %}
    {% endif %}
</head>
<body class="loading">
    <div class="loader"></div>
    <div class="wrapper">
        {% include navbar.html %}
        {{ content }}
        {% include footer.html %}
    </div>
    {% if page.js %}
    <script src="assets/js/manifest.js"></script>
    <script src="assets/js/vendor.js"></script>
    {% for jsfile in page.js %}
    <script src="assets/js/{{ jsfile }}.js"></script>
    {% endfor %}
    {% endif %}
</body>
</html>
