<!DOCTYPE html>
<html>
<head lang="ru">
    <title>КИТГЕО - геоинформационные консалтинг и технологии</title>
    <meta charset="utf-8" />
    <meta name="description" content="Геоинформационные консалтинг и технологии" />
    <meta name="keywords" content="kitgeo,китгео,gis,geo,map,maps,гис,гео,карты,картография,навигация" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="assets/css/kitgeo.min.css" />
</head>
<body class="loading">
    <div class="loader"></div>
    {% include navbar.html %}
    {{ content }}
    {% include footer.html %}
</body>
</html>